.container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 30px;
}

.section {
    flex-basis: 30%;
    text-align: center;
}

.bio {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.bio {
    font-size: 16px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .section {
        flex-basis: 48%;
    }
}

@media (max-width: 480px) {
    .section {
        flex-basis: 100%;
    }
}

.injustice {
    margin-left: 400px;
}

.read-more {
    color: gray;
    transition: 0.6s;
    cursor: pointer;

}

.read-more:hover {
    color: rgb(31, 30, 30);
    cursor: pointer;

}


.read-less {
    color: gray;
    transition: 0.6s;
    cursor: pointer;

}

.d-none {
    display: none;
}



.read-less:hover {

    color: rgb(31, 30, 30);
    cursor: pointer;

    

}

.act-1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Act-3{
    margin-top: 100px;
}
